@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400');

* , ::after , ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Couleurs */
  --body-bg-color: #FFFFFF;
  --sidebar-bg-color: #f4f4f4;
  --text-color: #333333;
  --title-color: #111111;
  --date-color: #1f94c2;

  /* Les couleurs du dark Mode */
  --dark-body-bg-color: #242424;
  --dark-sidebar-bg-color: #171717;
  --dark-text-color: #d8d8d8;
  --dark-title-color: #ffffff;
  --dark-date-color: #e6ef71;

  /* Dark Mode */
  --item-color:(var(var(--text-color)));
  --circle-color : #AAA;
  --circle-color-plain: #555;

  --dark-item-color:(var(var(--text-color)));
  --dark-circle-color : rgb(108,108,108);
  --dark-circle-color-plain: rgb(238,238,238);

  /* Fonts */

  --body-font: "Poppins", "Sans-Serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* Helpers */

  --spacing-1 : .4rem;
  --spacing-2 : .4rem;
  --spacing-3 : 1.2rem;
  --spacing-4 : 1.5rem;
  --spacing-5 : 2rem;

}

body{
  font-family: var(--body-font);
  font-weight: 200;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.dark{
  color: var(--dark-text-color);
  background-color: var(--dark-body-bg-color);
}

button{
  background-color: transparent;
  border: none ;
  cursor: pointer;
}

.dark button{
  color: var(--dark-text-color);
}

h1, h2, h3{
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

.dark h1, .dark h2, .dark h3{
  color: var(--dark-title-color);
}

h2{
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: inherit;
}

.circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}

.circle-plain{
  background-color: var(--circle-color-plain);
}

.dark .circle{
  background-color: var(--dark-circle-color);
}

.dark .circle-plain{
  background-color: var(--dark-circle-color-plain);
}

p{
  margin-bottom: var(--spacing-2);
}

ul{
  padding-left: 1.3rem;
}
li{
  margin-bottom: var(--spacing-2);
}

.mb3{
  margin-bottom: var(--spacing-3);
}
.mb5{
  margin-bottom: var(--spacing-5);
}

/* Grids */

@media screen and (min-width : 768px) {
  .grid_container{
    display: grid;
    grid-template-columns: 1fr 3fr ;
  }
  .grid_row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }
}

/* LAyout */
.sidebar{
  padding:  1.5rem;
  background-color: var(--sidebar-bg-color);
}

.actions{
  display: flex;
  justify-content: space-between;
}

.dark .sidebar{ 
  background-color: var(--dark-sidebar-bg-color);
}


.user>img{
  width: 150px;
}

.main{
  padding: 1.5rem;
}


/* Pour la generation des pdf */

#cv-print{
  width: 100% !important;
}

.cv-print .actions{
  display: none;
}

.cv-print .profil, .cv-print .cursus h2, .cv-print .profil h2 {
  margin: 0;
}


.cv-print ul{
  margin: 0;
  padding: 0;
}
.cv-print ul li{
  list-style-type: none;
}
.cv-print ul li:before{
  content: '.';
  display: inline-block;
  font-size: 110%;
  padding-right: 10px;
}

.cv-print .grid_container{
  font-size: 12px !important;
  max-width: 210mm;
}

.cv-print .sidebar{
  height: 297mm;
}

.cv-print .user_infos svg{
  display: none !important;
}

.cv-print .circle{
  width: 10px;
  height: 10px;
}

.cv-print .grid_date{
  margin-top: 5px;
}
